//this is global style

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  position: relative;
  height: 100vh;
  background: #000;
  color: white;

  #app {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}