#container {
  width: 50%;

  header {
    height: 40px;
    width: 100%;

    display: flex;

    background: white;


    div {
      width: 50%;
      float: left;

      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: black;
        text-decoration: none;
      }
    }
  }

  #content {
    height: 400px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}